<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="igakilab.mybatis.CardMapper">
  <select id="selectHand" resultType="jp.igakilab.dwr.mybatis.Card">
    select id, player, endCheck, result, HP, ATK, TYPE from field;
  </select>
  <select id="selectHand2" resultType="jp.igakilab.dwr.mybatis.Card2">
    select id, player, endCheck2, result2, HP, ATK, TYPE from field2;
  </select>
  <select id="selectPlayer" resultType="jp.igakilab.dwr.mybatis.Player">
    select player, plyHP, result from player;
  </select>
  <select id="selectLog" resultType="jp.igakilab.dwr.mybatis.Logch">
    select logid, log from log;
  </select>
  <update id ="updateField" parameterType="jp.igakilab.dwr.mybatis.Card">
    update field
    set
      player = #{player},
      endCheck = #{endCheck},
      result = #{result}
  </update>
  <update id ="updateHP" parameterType="jp.igakilab.dwr.mybatis.HP">
    update field
    set
      HP = #{HP}
    where id = #{id}
  </update>
  <update id ="updateATK" parameterType="jp.igakilab.dwr.mybatis.ATK">
    update field
    set
      ATK = #{ATK}
    where id = #{id}
  </update>
  <update id ="updateTYPE" parameterType="jp.igakilab.dwr.mybatis.TYPE">
    update field
    set
      TYPE = #{TYPE}
    where id = #{id}
  </update>
  <update id ="updateFly" parameterType="jp.igakilab.dwr.mybatis.Fly">
    update field
    set
      FLY = #{FLY}
    where id = #{id}
  </update>
  <update id ="updatePhs" parameterType="jp.igakilab.dwr.mybatis.Phs">
    update field
    set
      PHS = #{PHS}
    where id = #{id}
  </update>
  <update id ="updateMag" parameterType="jp.igakilab.dwr.mybatis.Mag">
    update field
    set
      MAG = #{MAG}
    where id = #{id}
  </update>
  <update id ="updateField2" parameterType="jp.igakilab.dwr.mybatis.Card2">
    update field2
    set
      player = #{player},
      endCheck2 = #{endCheck2},
      result2 = #{result2}
  </update>
  <update id ="updateHP2" parameterType="jp.igakilab.dwr.mybatis.HP">
    update field2
    set
      HP = #{HP}
    where id = #{id}
  </update>
  <update id ="updateATK2" parameterType="jp.igakilab.dwr.mybatis.ATK">
    update field2
    set
      ATK = #{ATK}
    where id = #{id}
  </update>
  <update id ="updateTYPE2" parameterType="jp.igakilab.dwr.mybatis.TYPE">
    update field2
    set
      TYPE = #{TYPE}
    where id = #{id}
  </update>
  <update id ="updateFly2" parameterType="jp.igakilab.dwr.mybatis.Fly">
    update field2
    set
      FLY = #{FLY}
    where id = #{id}
  </update>
  <update id ="updatePhs2" parameterType="jp.igakilab.dwr.mybatis.Phs">
    update field2
    set
      PHS = #{PHS}
    where id = #{id}
  </update>
  <update id ="updateMag2" parameterType="jp.igakilab.dwr.mybatis.Mag">
    update field2
    set
      MAG = #{MAG}
    where id = #{id}
  </update>
  <update id ="resetResult" parameterType="jp.igakilab.dwr.mybatis.Card">
    update field
    set
      endCheck = #{endCheck},
      result = #{result}
  </update>
  <update id ="resetResult2" parameterType="jp.igakilab.dwr.mybatis.Card2">
    update field2
    set
      endCheck2 = #{endCheck2},
      result2 = #{result2}
  </update>
  <update id ="updatePlayer" parameterType="jp.igakilab.dwr.mybatis.Player">
    update player
    set
      plyHP = #{plyHP},
      result = #{result}
    where player = #{player}
  </update>
  <update id ="updateLog" parameterType="jp.igakilab.dwr.mybatis.Logch">
    update log
    set
      log = #{log}
    where logid = #{logid}
  </update>
</mapper>
