<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="igakilab.mybatis.CardMapper">
  <select id="selectHand" resultType="jp.igakilab.dwr.mybatis.Card">
    select id, player, endcheck, result, hp, atk, type, fly, phs, mag from field;
  </select>
  <select id="selectHand2" resultType="jp.igakilab.dwr.mybatis.Card2">
    select id, player, endcheck2, result2, hp, atk, type, fly, phs, mag from field2;
  </select>
  <select id="selectPlayer" resultType="jp.igakilab.dwr.mybatis.Player">
    select player, plyHP, result from player;
  </select>
  <select id="selectLog" resultType="jp.igakilab.dwr.mybatis.Logch">
    select logid, log from log;
  </select>
  <update id ="updateField" parameterType="jp.igakilab.dwr.mybatis.Card">
    update field
    set
      player = #{player},
      endcheck = #{endcheck},
      result = #{result}
  </update>
  <update id ="updateHP" parameterType="jp.igakilab.dwr.mybatis.Hp">
    update field
    set
      hp = #{hp}
    where id = #{id}
  </update>
  <update id ="updateATK" parameterType="jp.igakilab.dwr.mybatis.Atk">
    update field
    set
      atk = #{atk}
    where id = #{id}
  </update>
  <update id ="updateTYPE" parameterType="jp.igakilab.dwr.mybatis.Type">
    update field
    set
      type = #{type}
    where id = #{id}
  </update>
  <update id ="updateFLY" parameterType="jp.igakilab.dwr.mybatis.Fly">
    update field
    set
      fly = #{fly}
    where id = #{id}
  </update>
  <update id ="updatePHS" parameterType="jp.igakilab.dwr.mybatis.Phs">
    update field
    set
      phs = #{phs}
    where id = #{id}
  </update>
  <update id ="updateMAG" parameterType="jp.igakilab.dwr.mybatis.Mag">
    update field
    set
      mag = #{mag}
    where id = #{id}
  </update>
  <update id ="updateField2" parameterType="jp.igakilab.dwr.mybatis.Card2">
    update field2
    set
      player = #{player},
      endcheck2 = #{endcheck2},
      result2 = #{result2}
  </update>
  <update id ="updateHP2" parameterType="jp.igakilab.dwr.mybatis.Hp">
    update field2
    set
      hp = #{hp}
    where id = #{id}
  </update>
  <update id ="updateATK2" parameterType="jp.igakilab.dwr.mybatis.Atk">
    update field2
    set
      atk = #{atk}
    where id = #{id}
  </update>
  <update id ="updateTYPE2" parameterType="jp.igakilab.dwr.mybatis.Type">
    update field2
    set
      type = #{type}
    where id = #{id}
  </update>
  <update id ="updateFLY2" parameterType="jp.igakilab.dwr.mybatis.Fly">
    update field2
    set
      fly = #{fly}
    where id = #{id}
  </update>
  <update id ="updatePHS2" parameterType="jp.igakilab.dwr.mybatis.Phs">
    update field2
    set
      phs = #{phs}
    where id = #{id}
  </update>
  <update id ="updateMAG2" parameterType="jp.igakilab.dwr.mybatis.Mag">
    update field2
    set
      mag = #{mag}
    where id = #{id}
  </update>
  <update id ="resetResult" parameterType="jp.igakilab.dwr.mybatis.Card">
    update field
    set
      endcheck = #{endcheck},
      result = #{result}
  </update>
  <update id ="resetResult2" parameterType="jp.igakilab.dwr.mybatis.Card2">
    update field2
    set
      endcheck2 = #{endcheck2},
      result2 = #{result2}
  </update>
  <update id ="updatePlayer" parameterType="jp.igakilab.dwr.mybatis.Player">
    update player
    set
      plyHP = #{plyHP},
      result = #{result}
    where player = #{player}
  </update>
  <update id ="updateLog" parameterType="jp.igakilab.dwr.mybatis.Logch">
    update log
    set
      log = #{log}
    where logid = #{logid}
  </update>
</mapper>
