<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="igakilab.mybatis.CardMapper">
  <select id="selectHand" resultType="jp.igakilab.dwr.mybatis.Card">
    select id, handno, player, endCheck from hand;
  </select>
  <select id="selectHand2" resultType="jp.igakilab.dwr.mybatis.Card2">
    select id, handno, player, endCheck2 from hand2;
  </select>
  <insert id="insertHand">
    insert into hand (id,handno,player,endCheck)
    values (#{id},#{handno}, #{player}, #{endCheck})
  </insert>
  <update id ="updateHand" parameterType="jp.igakilab.dwr.mybatis.Card">
    update hand
    set
      handno = #{handno},
      player = #{player},
      endCheck = #{endCheck}
    where id = #{id}
  </update>
  <update id ="updateHand2" parameterType="jp.igakilab.dwr.mybatis.Card2">
    update hand2
    set
      handno = #{handno},
      player = #{player},
      endCheck2 = #{endCheck2}
    where id = #{id}
  </update>
</mapper>
